<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="js/main.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="panel panel-default  panel-perfilComum">
    
                    <section class="corpo-detalhes">
                    <h2 class="blocktext" class="Titulo"></h2>
                    <br>  
                    {{#each monitoria}} 
                        <h4 class="tituloDetMoni">{{this.disciplina}} - {{this.conteudo}}</h4><br>    
                        <div class="col-md-6">
                            <label class="espeMU">Número de vagas: </label>
                            <p class="dadoFake">{{this.numvagas}}</p><br>
                            <label class="espeMU">Número de inscritos: </label>
                            <p class="dadoFake">{{this.numinscritos}}</p><br>
                            <label class="espeMU">Monitor(a): </label>
                            <p class="dadoFake">{{this.nome}}</p><br>
                            <label class="espeMU">Data e horário: </label>
                            <p class="dadoFake">{{this.datahorario}}</p><br>
                            <label class="espeMU">Bloco: </label>
                            <p class="dadoFake">{{this.bloco}}</p><br>
                            <label class="espeMU">Identificação: </label>
                            <p class="dadoFake">{{this.identificacao}}</p>
                        </div>  
                        <div class="col-md-6">
                            <label class="espeMU">Tipo: </label>
                            <p class="dadoFake">{{this.tipo}}</p><br>           
                            <label class="espeMU">Descrição: </label>
                            <div class="descrif">
                                <textarea class="hello">{{this.descricao}}</textarea>    
                            </div><br>
                        </div>
                    {{/each}} 
                    
                    <button class="btn btnfx">Inscrever-se</button>                   
                    </section>
                </div>
</body>
</html>